.movies{
    justify-content: center;
    flex-wrap: wrap;
    /*background: aquamarine;*/
    align-items: stretch;
    /*flex-direction:row;*/
    display: flex;
    margin-top:20px;
    width: 850px;



}