.movies{
    justify-content: center;
    flex-wrap: wrap;
    /*background: aquamarine;*/
    align-items: stretch;
    /*flex-direction:row;*/
    display: flex;
    margin-top:20px;

}
.moviesDark{
    justify-content: center;
    flex-wrap: wrap;
    /*background: aquamarine;*/
    align-items: stretch;
    /*flex-direction:row;*/
    display: flex;
    margin-top:20px;
    background: darkslategray;
    color: antiquewhite;
}




.buttonPagination{
    text-align: center;
    display: flex;
    /*flex-direction: row;*/
    /*border: black double 1px;*/
    justify-content:center;

}