.movies{
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    margin-top:20px;



}
.moviesDark{
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    margin-top:20px;
    background: darkslategray;
    color: antiquewhite;
    border-radius: 8px;
}




.buttonPagination{
    text-align: center;
    display: flex;
    justify-content:center;


}