.movie{
    width: 170px;
    text-align: center;
    /* border: 1px solid #ddd; */
    margin-bottom: 10px;

}

.image{
    border-radius: 8px;
    width: 150px;
    text-align: center;


}
.nameFilm{
    width: 170px;
    /* border: 1px solid #ddd; */
    text-align: center;
    height: 50px;

}